.nav-tree {
	overflow: auto;
}
#divNavTree ul {
	padding: 0;
}
#divNavTree ul li {
	padding: 0;
}
.nav-item {
	margin-top: 20px;
}
a.jstree-anchor {
	color: #034c77 !important;
}
.nav-node-unpublished a.jstree-anchor {
	color: gray !important;
}